

.row-content{

   margin:0px auto;
   padding: 50px 0px 50px 0px;
   border-bottom: 1px ridge;
   min-height: 400px;
}

.footer{

  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: #2f4570;
}

.address{

  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.body{

  padding: 50px 0px 0px 0px;
  z-index: 0;

}

.navbar{

  background-color: #01D1C1;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.card-header,.btn-enviar {

   background-color: #01D1C1;
}


.jumbotron{
  background-color: #FFFFFF;
}


.subcabecera {

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #01D1C1;

}


.cabecera1 {

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 83px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #01D1C1;

}


.cab2 {
  color: #2F457D;
}


.buscar{

  background: rgba(47, 69, 125, 0.1);
  border-radius: 20px;

}

.btn-outline-secondary {
  background: #2F457D;
  border-radius: 20px;
}
}


.rc-SearchBar{
  margin:auto;width:280px
}

@media (min-width:992px){
.rc-SearchBar{
    width:380px

  }
}

@media (min-width:1200px){
  .rc-SearchBar{
    width:450px
  }
}
@media (max-width:767px){
  .rc-SearchBar{
    padding:12px 0
  }
}
@media (min-width:768px){
  .rc-SearchBar .mobile-magnifier{
    display:none
  }
}
.rc-SearchBar .search-form{
  width:100%;
  top:0;
  left:0;
  position:relative

}

@media (max-width:1100px) and (min-width:992px){
  .rc-SearchBar .search-form .rc-AutoComplete{
    width:320px
  }
}

.horizontal-box {
  display:-ms-flexbox;
  display:box;
  display:flex;-o-box-orient:horizontal;
  -ms-flex-direction:row;
  flex-direction:row
}

.search-form{
  margin:auto;width:100%
}


.rc-AutoComplete{
  margin:auto
}
@media (max-width:767px){
  .rc-AutoComplete{
    padding:12px 14px
  }
}
@media (max-width:767px){
  .rc-AutoComplete.isFocused{
    background-color:#2a73cc;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    z-index:4000;
    transition:background-color .5s ease
  }
}
.rc-AutoComplete .mobile-magnifier{
  height:100%;margin-right:10px
}
.rc-AutoComplete .mobile-magnifier .magnifier-wrapper{
  border:1px solid #e1e1e1;
  padding:10px;
  background-color:#4a90e2
}
@media (min-width:768px){
  .rc-AutoComplete .mobile-magnifier{
    display:none
  }
}
.rc-AutoComplete .section-title-box{
  padding:6px 21px
}
.rc-AutoComplete .view-all-search-results{
  padding-left:30%;
  padding-top:10px;
  padding-bottom:10px;
  border-top:1px solid #cdd1d8
}
.rc-AutoComplete .view-all-search-results .body-2-text{
  font-size:12px;margin-bottom:0
}
.rc-AutoComplete .section-title{
  width:100%;display:inline-block;
  margin-bottom:0;
  font-family:OpenSans,Arial,sans-serif;
  font-weight:700
}
.rc-AutoComplete .direct-match-section{
    border-bottom:1px solid #e1e1e1;padding-bottom:4px
  }
.rc-AutoComplete .section-item{
  height:100%
}

.rc-AutoComplete .section-item .partner-name{
  width:100%;margin-left:10px
}
.rc-AutoComplete .section-item .item-photo{
  margin:0 5px
}
.rc-AutoComplete .section-item .vertical-box{
  display:inline-block;vertical-align:middle
}
.rc-AutoComplete .section-item .item-name{
  color:rgba(0,0,0,.87);
  display:-ms-flexbox;
  display:box;
  display:flex;
  overflow-wrap:break-word;
  font-family:Helvetica,sans-serif;
  font-size:16px;
  margin-left:10px;
  width:100%
}
.rc-AutoComplete input[type=text].react-autosuggest__input{
  width:100%;
  height:40px;
  padding:0 10px 0 36px;
  font-family:Helvetica,sans-serif;font-weight:300;
  font-size:16px;
  box-shadow:none;margin-bottom:0;
  border:solid #e1e1e1;
  border-width:1px;
  border-radius:2px 0 0 2px;
  background:#fff
}

@media (min-width:768px){
  .rc-AutoComplete input[type=text].react-autosuggest__input{
    padding:0 10px
  }
}

.rc-AutoComplete input[type=text].react-autosuggest__input--focused{
  outline:none;box-shadow:none

}
.rc-AutoComplete input[type=text].react-autosuggest__input--open{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0
}
.rc-AutoComplete input[type=text].react-autosuggest__suggestions-container{
  display:none
}
.rc-AutoComplete .react-autosuggest__container{
  width:100%
}
@media (min-width:768px){
  .rc-AutoComplete .react-autosuggest__suggestions-container--open{
    padding:0;overflow:scroll;
    display:block;
    max-height:90vh;
    position:absolute;
    width:330px;
    max-width:85vw;
    margin-top:8px;
    border:1px solid #e1e1e1;
    background-color:#fff;font-family:Helvetica,sans-serif;
    font-weight:300;
    font-size:16px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    z-index:10000;
    box-shadow:1px 1px 2px #d3d3d3
  }
}
@media (min-width:992px){
  .rc-AutoComplete .react-autosuggest__suggestions-container--open{width:400px
  }
}
@media (min-width:1200px){
  .rc-AutoComplete .react-autosuggest__suggestions-container--open{
    width:450px
  }
}

@media (max-width:767px){
  .rc-AutoComplete .react-autosuggest__suggestions-container--open,.rc-AutoComplete .suggestion-wrapper.withSuggestion .react-autosuggest__suggestions-container{
    position:absolute;
    left:0;top:64px;
    width:100%;padding:0;
    z-index:1;
    background-color:#fff;
    height:calc(100vh - 65px);
    overflow:scroll
  }
}
.rc-AutoComplete .react-autosuggest__suggestions-list{
  margin:0;
  padding:15px 21px;
  list-style-type:none
}
.rc-AutoComplete .react-autosuggest__suggestion{
  cursor:pointer;margin-bottom:5px;padding:5px
}
.rc-AutoComplete .react-autosuggest__suggestion .ais-Highlight-highlighted{
  background-color:#fff
}
.rc-AutoComplete .react-autosuggest__suggestion a{
  text-decoration:none
}
.rc-AutoComplete .react-autosuggest__suggestion--highlighted{
  background-color:#e1e1e1
}
.rc-AutoComplete .react-autosuggest__section-container--first{
  border-top:0
}
.rc-AutoComplete .react-autosuggest__section-container--first .react-autosuggest__section-title{
  border:none
}
.rc-AutoComplete .react-autosuggest__section-container--first .react-autosuggest__suggestion{
  padding:5px 0
}
.rc-AutoComplete .cancel-button{
  display:block;
  position:absolute;
  top:20px;
  right:24px
}
@media (min-width:768px){
  .rc-AutoComplete .cancel-button{display:none
  }
}
.rc-SearchBar{
  margin:auto;
  width:280px
}
@media (min-width:992px){
  .rc-SearchBar{
    width:380px
  }
}
@media (min-width:1200px){
  .rc-SearchBar{
    width:450px
  }
}
@media (max-width:767px){
  .rc-SearchBar{
    padding:12px 0
  }
}
@media (min-width:768px){
  .rc-SearchBar .mobile-magnifier{
    display:none
  }
}
.rc-SearchBar .search-form{
  width:100%;
  top:0;
  left:0;
  position:relative
}
@media (max-width:1100px) and (min-width:992px){
  .rc-SearchBar .search-form .rc-AutoComplete
  {
    width:320px
  }
}


.rc-SearchBar .magnifier-wrapper{

  display:-ms-flexbox;display:box;
  display:flex;
  padding-left:8px;
  height:40px;
  position:absolute;
  -o-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.rc-SearchBar .search-button .magnifier-wrapper{
  padding:10px;
  border-radius:0 2px 2px 0;
  background-color:#2a73cc;
  width:40px;
  height:40px
}


.rc-AlgoliaAutoComplete .react-autosuggest__container{
  position:relative
}
.rc-AlgoliaAutoComplete .react-autosuggest__container input[type=text].react-autosuggest__input{
  width:100%;
  height:30px;
  padding:0 10px;
  font-family:Helvetica,sans-serif;font-weight:300;
  font-size:16px;
  box-shadow:none;
  margin-bottom:0;
  border:0
}
.rc-AlgoliaAutoComplete .react-autosuggest__container input[type=text].react-autosuggest__input--focused{
  outline:none;box-shadow:none
}
.rc-AlgoliaAutoComplete .react-autosuggest__container input[type=text].react-autosuggest__input--open{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0
}
.rc-AlgoliaAutoComplete .react-autosuggest__container input[type=text].react-autosuggest__suggestions-container{
  display:none
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .dot-delimiter{
  margin:0 7px;
  color:#969696
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .partner-names{
  color:#969696
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__suggestions-container--open{
  overflow:scroll;
  display:block;
  max-height:600px;
  position:absolute;
  width:650px;
  max-width:85vw;
  margin-top:6px;
  border:1px solid #525252;
  left:-16px;
  background-color:#fff;
  font-family:Helvetica,sans-serif;
  font-weight:300;
  font-size:16px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  z-index:10000
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__suggestions-list{
  margin:0;
  padding:0;
  list-style-type:none
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__suggestion{
  cursor:pointer;
  padding:5px
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__suggestion .ais-Highlight-highlighted{
  background-color:#fff;
  color:#2a73cc
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__suggestion a{
  text-decoration:none
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__section-container--first{
  border-top:0
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__section-container--first .react-autosuggest__section-title{
  border:none
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__section-container--first .react-autosuggest__suggestion{
  padding:0
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__section-title{
  border-top:1px solid rgba(0,0,0,.26);
  padding:5px 0;
  margin:0 5px;
  font-size:12px
}
.rc-AlgoliaAutoComplete .react-autosuggest__container .react-autosuggest__section-title .headline-1-text{
  font-size:16px;
  font-weight:550
}


.react-autosuggest__input{
  width:100%;
  height:30px;
  padding:0 10px;
  font-family:Helvetica,sans-serif;
  font-weight:300;
  font-size:16px;
  box-shadow:none;
  margin-bottom:0;
  border:0
}

.rc-SearchBar .search-button{
  height:100%
}

@media (max-width:767px){
  .rc-SearchBar .search-button{
    display:none
  }
}



 .search-button {
  font-size:12px;
  line-height:14px;
  font-family:OpenSans,Arial,sans-serif
}


.search-button{
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  white-space:nowrap;background-image:none;
  border:none;opacity:1;
  -ms-filter:none;
  filter:none;text-decoration:none;
  color:#fff;
  min-width:72px;
  padding:10px 20px;
  transition-property:background-color,box-shadow(),color,opacity(n,args);
  transition-duration:.1s;
  transition-timing-function:ease;
  transition-delay:0ms;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;user-select:none;
  cursor:pointer;
  border-radius:0
}

 .search-button[disabled]{
   background-color:#e5e5e5;
   border:1px solid #e5e5e5;color:rgba(0,0,0,.26);
   cursor:not-allowed;pointer-events:none
 }
 .search-button[disabled]:active,.search-button[disabled]:focus,.search-button[disabled]:hover{
   background:#e0e0e0 none repeat 0 0 scroll
 }

 .search-button{
   color:#525252;
   font-size:16px;
   background-color:transparent;
   border:none;
   min-width:0;
   padding:0 12px
 }
  .search-button:hover{
    background:transparent;
    color:rgba(0,0,0,.26)
  }
